body {
    font-family: Arial, sans-serif;
    
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    background-image: url('https://i.pinimg.com/564x/5b/b7/03/5bb7031173f95fc9c53aa61b083b94c4.jpg');
}

/* Header styles */
header {
    
    color: rgb(3, 3, 3);
    padding: 1rem;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Footer styles */
footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Main content styles */
.container {
    padding: 2rem;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 0.5rem 0 0.2rem;
}

form input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #080808;
    border-radius: 4px;
}

form button {
    padding: 0.5rem;
    background-color: #a0b9d4;
    color: rgb(236, 221, 12);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

/* List styles */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: rgb(141, 53, 53);
    margin-bottom: 0.5rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

ul li a {
    margin-left: 1rem;
    color: #3c5c7e;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}